body {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(243, 243, 243);
}

html {
  overflow-y: scroll;
}

header {
  position: fixed;
  height: 100px;
  width: 1000px;
  background-color: rgb(40, 40, 40);
}

button {
  outline: none;
}

#booster-packs-section {
  width: 940px;
  padding: 120px 30px 30px;
  background-color: rgb(255, 255, 255);
}

.booster-pack-icon {
  width: 170px;
  height: 340px;
}

.button-tiles {
  margin: 2px;
  padding: 5px;
  background-color: white;
}

.pack-selected {
  margin: 2px;
  padding: 5px;
  background-color: rgb(0, 142, 0);
}
